body {
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
a:hover {
	text-decoration: none;
}
/* default css */

h3 {
	font-size: 40px;
}
h1 {
	font-size: 48px;
}
.text-primary {
	color: #08C18A !important;
}
.text-alternative {
	color: #186AA5 !important;
}
.text-secondary {
	color: #000 !important;
}
.theme-color {
	background-color: #08C18A;
}
.font-semibold {
	font-weight: 500;
}
/* default css end */

/* landing page css */

header {
	z-index: 9;
}
header .nav-link {
	font-size: 16px;
}
.submenu-header {
	width: 300px;
	position: absolute;
	z-index: 9;
	background-color: #fff;
	opacity: 0;
}
.nav-item:hover .submenu-header {
	opacity: 1;
}
.nav-item:hover .fa-angle-down {
	transform: rotate(180deg);
	color: #08C18A;
}
.banner_section {
	padding-top: 100px;
}
.banner_section button{
	transition: ease all 0.4s;
	border-radius: 20px;
}
.banner_section button:hover {
	-webkit-transform: scale(1.05) translateZ(0);
	-moz-transform: scale(1.05) translateZ(0);
	transform: scale(1.05) translateZ(0);
}
.book_demo {
	border: 1px solid #186AA5;
	color: #186AA5;
	border-radius: 0;
}
.video_section {
	height: 500px;
}
.video_section iframe {
	border-radius: 5px;
}
.whyus_content {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
}
.why-content {
	transition: ease all 0.4s;
}
.why-content:hover {
	-webkit-transform: scale(1.05) translateZ(0);
	-moz-transform: scale(1.05) translateZ(0);
	transform: scale(1.05) translateZ(0);
}
.testimonial-content {
	margin-left: -100px;
}
.testimonial-content h5 {
	font-size: 20px;
	line-height: 60px;
	font-style: italic;
}
.testimonial-content h6 {
	font-size: 20px;
}
.carousel-indicators li {
	width: 18px;
	height: 18px;
	border: 1px solid #707070;
	border-radius: 50%;
}
.carousel-indicators {
	bottom: -40px;
	z-index: 0;
}
.carousel-indicators .active {
	background-color: #E8EFF7;
	border: 1px solid #E8EFF7;
}
.about-content {
	width: 75%;
}
.integration-card .integration-icon {
	height: 150px;
}
.integration-card {
	transition: ease all 0.4s;
}
.integration-card:hover {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.card-first {
	border-left: 3px solid #46ac35;
}
.card-second {
	border-left: 3px solid #d70048;
}


@media(max-width: 1024px) {

	.about-content {
		width: 80%;
	}
}
@media(max-width: 991px) {
	h3 {
	    font-size: 32px;
	}
	.testimonial-content {
		margin-left: 0;
	}
	
	/*.banner_section {
	    padding-top: 50px;
	}*/
}